body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0a0f19;
    margin: 0;
    padding: 0;
    color: #e3e4e8;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 2.5rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
  }
  
  .agent-details-large {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Align items to the start */
    padding: 20px;
    margin-top: 20px;
    color: #fff;
  }
  
  .agent-details-text {
    flex: 1 1 40%; /* Reduce text width to 40% */
    max-width: 40%; /* Ensure it does not exceed 40% of the width */
  }
  
  .agent-photo-large {
    flex: 1 1 60%; /* Increase image width to 60% */
    max-width: 60%; /* Ensure it does not exceed 60% of the width */
    height: auto;
    border-radius: 8px;
    margin-left: 50px; /* Ensure space between text and image */
  }
  

  .agent-photo-large img{
    width: 900px;
  }

  
  .agent-name-large {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: italic;
  }
  
  .agent-description-large {
    font-size: 1rem;
    margin: 20px 0;
  }
  
  .agent-role-container {
    display: flex;
    max-width: 100px;
    flex-direction: column;
    align-items: center;
    background-color: #1c2028;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #ff4655;
    color: #ff4655;
  }
  
  .agent-role-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1e3753;
    color: white;
    border: 1px solid #2a5482;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #2a5482;
  }
  
  .detail-box ul {
    list-style: none;
    padding: 0;
  }
  
  .detail-box ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .agents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .agent-card {
    background-color: #2a2e35;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .agent-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .agent-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .agent-name {
    margin-top: 10px;
    color: #e3e4e8;
    font-size: 18px;
  }

  .ability-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ability-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .role-title {
    text-align: center;
    margin-top: 70px;
  }
  
  
  
  @media (max-width: 900px) {
    .agent-photo-large {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .agent-details-large {
      flex-direction: column;
      align-items: center;
    }
  
    .agent-details-text {
      max-width: 100%;
    }
  }
  